---
import { getUrl } from "@/lib/img";
import ElementIcon from "./ElementIcon.astro";

export interface Props {
  character: {
    id: string;
    name: string;
    element?: string;
    constellationNum?: number;
  };
  weapon?: {
    id: string;
    name: string;
    rarity: number;
  };
  artifacts?: {
    id: string;
    name: string;
  }[];
  showElement?: boolean;
}

const { character, weapon, artifacts, showElement = true } = Astro.props;
---

<div
  class="group w-32 transform cursor-pointer text-gray-400 transition-all duration-200 ease-linear hover:text-white"
>
  <div>
    <div class="group relative text-center">
      <img
        class="inline-block rounded-full border-4 border-transparent shadow-lg transition group-hover:scale-110 group-hover:border-vulcan-500 group-hover:shadow-xl"
        src={getUrl(
          `/characters/${character.id}/${character.id}_portrait.png`,
          80,
          80
        )}
        alt={character.name}
        width={80}
        height={80}
      />
      {
        showElement && character.element && (
          <div class="absolute top-0 right-5 rounded-full bg-vulcan-900 px-1 pt-1">
            <ElementIcon width={20} height={20} type={character.element} />
          </div>
        )
      }
      {
        character.constellationNum !== undefined && (
          <div class="absolute bottom-0 right-2/3 rounded-full bg-vulcan-700 p-1 text-xs font-bold text-gray-300">
            {`C${character.constellationNum}`}
          </div>
        )
      }
      {
        weapon && (
          <div
            class="absolute bottom-0 left-2/3 rounded bg-cover opacity-0 transition-all delay-100 translate-x-0 group-hover:translate-x-2 group-hover:opacity-100"
            style={{
              backgroundImage: `url(${getUrl(`/bg_${weapon.rarity}star.png`)})`,
              height: 32,
            }}
          >
            <img
              src={getUrl(`/weapons/${weapon.id}.png`, 32, 32)}
              height={32}
              width={32}
              alt={weapon.name}
            />
          </div>
        )
      }
      {
        artifacts && (
          <>
            {artifacts.map((artifact, i) => (
              <div
                class="absolute right-2/3 scale-0 rounded bg-cover transition-all delay-100 translate-x-0 group-hover:-translate-x-2 group-hover:scale-105"
                style={{
                  bottom: i * 32,
                }}
              >
                <img
                  src={getUrl(`/artifacts/${artifact.id}.png`, 32, 32)}
                  height={32}
                  width={32}
                  alt={artifact.name}
                />
              </div>
            ))}
          </>
        )
      }
    </div>
  </div>
  <p class="text-center text-base">{character.name}</p>
</div>
